# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.ipynb_checkpoints/
*.pyc

#data files
data/TOP_1000/
data/TOP_100/
data/multiUN.en/un/xml/en/TOP_1000
data/multiUN.en/un/xml/en/TOP_100
data/pdf/
util/output_all.json
util/output_progress.json
util/scrape_progress.txt
util/scrape/completed_scrape.json
util/scrape/completed_scrape.json
util/scrape/docs_meta.json
util/scrape/missing.json
util/scrape/output_all.json
util/scrape/output_progress.zip
util/scrape/scrape.json
util/scrape/scrape_missing.txt
util/scrape/scrape_progress.txt
nbproject/
util/MUN_MAP.zip