/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2014, 9:34:41 PM
    Author     : Hassan
*/

#container{
    /*width:800px;*/
    margin: 5% 5% auto;
}
#search-q{
    /*width:90%;*/
}
.item-title{
    font-size:1.2em;
}

#document-display{
    
}
#document-display h1{
    font-size: 1.25em;
}
#document-display h2{
    font-size: 1.1em;
}