/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2014, 9:34:41 PM
    Author     : Hassan
*/

#container{
    /*width:800px;*/
    margin: 5% 5% auto;
}

#container div {
    border-radius: 5px;
}

#search-q{
    /*width:90%;*/
}
.item-title{
    font-size:14px !important;
}

#document-display{

}
#document-display h1{
    font-size: 1.25em;
}
#document-display h2{
    font-size: 1.1em;
}

#subjects-histogram
{
    float: left;
    margin-right: 25px;
    padding: 10px;
    border: solid 1px silver;
    border-radius: 5px; 
    background-color: #F2F2F2;
}
#search-results{
    float: left;
    display: inline-block;
    width: calc(100% - 275px);
    margin-left: 20px;
}
.search-result{
    padding: 5px;
    padding-top: 10px;
    border-radius: 4px;
    border: solid 1px white;
}
.search-result:hover {
    border: solid 1px silver;
    background-color: #F2F2F2;
    -webkit-box-shadow: 15px 10px 30px -6px rgba(0,0,0,0.83);
    -moz-box-shadow: 15px 10px 30px -6px rgba(0,0,0,0.83);
    box-shadow: 15px 10px 30px -6px rgba(0,0,0,0.83);
}


.search-result h1{
    
}
.search-result h2{
    font-size:1em;
    font-weight: bold;
}

.search-result p {
    font-size: 12px;
}

.histogram rect{
    fill:steelblue;
}
.histogram rect:hover{
    fill:orange;
}
.histogram text{

    z-index:10;
}
.unselectable{
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}
.tick text{

}
.document-part{
    /*float:left;*/
    /*border:1px solid grey;*/

    /*    margin:5px;*/
}
.document-part .panel-body{
    max-height:400px;
    overflow-y: auto;
}
#document-header{

}
#document-info{
    float:left;
    width:29%;
    margin-right:1%;
    display:block;
}
#document-content{
    float:right;
    width:70%;

}
#document-content h1{
    font-size:1.1em;
    font-weight: bold;
}
.fd-table{

}

.fd-table tr{

}
.fd-table td{
    padding:5px;
}
.highlight-key, .highlight-0,
.highlight{
    background-color:yellow;
}
.highlight-1{
    background-color: lightgreen;
}
.highlight-2{
    background-color: lightsalmon;
}