/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 12, 2014, 9:34:41 PM
    Author     : Hassan
*/

#container{
    width:800px;
    margin: 0 auto;
}
#search-q{
    /*width:90%;*/
}
.item-title{
    font-size:1.2em;
}