<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        {% block head %} {% endblock %}
        <title>{% block title %}{% endblock %} - MutliUN Map</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static',filename='_css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='_css/style.css') }}">
        <script src="{{ url_for('static', filename='_js/jquery-2.1.1.min.js')}}"></script>
        <script src="{{ url_for('static', filename='_js/bootstrap.min.js')}}"></script>
        <script src="{{ url_for('static', filename='_js/d3.min.js')}}"></script>
        <script src="{{ url_for('static', filename='_js/lodash.min.js')}}"></script>
        <script src="{{ url_for('static', filename='_js/script.js')}}"></script>
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <nav>


        </nav>

        <div id="container">
           
            {% block body%} {% endblock %}  

        </div>
    </body>
</html>
