
{% extends "base.html"%}

{% block body %}
<script>
    var doc = {{ doc  | tojson | safe }}
    console.log(doc)

</script>

{% macro print_fd(fd) -%}
<table class="fd-table">
{% for k,v in fd %}
<tr><td>{{v}}</td><td>{{k}}</td></tr>
{% endfor %}
</table>
{%- endmacro %}

<div id='document-display'>
    <h1>Title:<br>{{ doc.scrape.Title }} </h1>
<p>Lang: {{doc.attributes.lang }}, Date: {{ doc.attributes.date }}</p>
<div id="document-info">
<div id="nchunks" class="document-part">
    <h2>Noun Chunks</h2>
    {{ print_fd(nchunks) }}
</div>
<div id="vchunks" class="document-part">
    <h2>Noun-Verb Chunks</h2>
    {{ print_fd(vchunks) }}
</div>
<div class="document-part">
<h2>Subjects</h2>
<ul>
    {% for subject in doc.scrape.Subjects %}
    <li> {{ subject }} </li>
    {% endfor %}
</ul>
</div>
</div>
<div id='document-content'>
    {{ mun.get_doc_html(doc) | safe }}
</div>
</div>
{% endblock %}