
{% extends "base.html"%}

{% block body %}
<script>
    var doc = {{doc | tojson | safe}}
//    console.log(doc)

</script>

{% macro print_fd(fd,title, id) -%}
<div id="{{id}}" class="document-part panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
        <table class="fd-table table">
            <tr><td>Freq</td><td>Item</td></tr>
            {% for k,v in fd %}
            <tr><td class="key">{{v}}</td><td class="value">{{k}}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>
{%- endmacro %}
{% macro print_list(arr,title, id) -%}
<div id="{{id}}" class="document-part panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
        <table class="fd-table table">
            {% for v in arr %}
            <tr><td class="value">{{v}}</td></tr>
            {% endfor %}
        </table>
    </div>
</div>
{%- endmacro %}
 
{% macro print_text(text,title, id) -%}
<div id="{{id}}" class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
        {{text}}
    </div>
</div>
{%- endmacro %}


<div id='document-display'>
    <dv id="document-header">
    <h1>Title:<br>{{ doc.scrape.Title }} </h1>
    <p>Lang: {{doc.attributes.lang }}, Date: {{ doc.attributes.date }}</p>
</div>
    <div id="document-info">
        {{ print_fd(nchunks[:20], 'Noun Chunks', 'nchunks') }}
        {{ print_fd(vchunks[:20], 'Noun-Verb Chunks', 'vchunks') }}
        {{ print_list(doc.scrape.Subjects, 'Subjects', 'subjects') }}
       
    </div>

    {{ print_text(mun.get_doc_html_with_links(doc, 
                '%s?doc_name='%url_for('show'), 
                use_doc_name=True) | safe,
        'Full Text', 'document-content') }}

</div>
{% endblock %}